@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Quicksand:700);
/* line 13, ../scss/_mixins.scss */
a.button, div.menu {
  font-family: "Quicksand";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
@media (min-width: 768px) {
  /* line 13, ../scss/_mixins.scss */
  a.button, div.menu {
    font-size: 14px;
  }
}

/* line 1, ../scss/_global.scss */
a {
  color: #6CD5CB;
  text-decoration: none;
}

/* line 6, ../scss/_global.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/_global.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 17, ../scss/_global.scss */
h3 {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  background: url("../images/dash.png") no-repeat bottom center;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  /* line 17, ../scss/_global.scss */
  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 3.5rem;
  }
}

/* line 32, ../scss/_global.scss */
h4 {
  margin: 1rem 0 0;
}
/* line 35, ../scss/_global.scss */
h4 span {
  color: rgba(116, 92, 87, 0.4);
  font-weight: normal;
}

/* line 41, ../scss/_global.scss */
a.button {
  display: inline-block;
  border: 2px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.6rem 1.1rem;
  text-align: center;
}
/* line 49, ../scss/_global.scss */
a.button:hover {
  background-color: #6CD5CB;
  border-color: #6CD5CB;
  color: #F8F5EE;
}

/* line 1, ../scss/_layout.scss */
body {
  background-color: #F8F5EE;
  margin: 2rem 0 0;
  padding: 0;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #745C57;
}
@media (min-width: 768px) {
  /* line 1, ../scss/_layout.scss */
  body {
    margin-top: 5rem;
  }
}
@media (min-width: 980px) {
  /* line 1, ../scss/_layout.scss */
  body {
    margin-top: 8rem;
  }
}

/* line 18, ../scss/_layout.scss */
.container {
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  /* line 18, ../scss/_layout.scss */
  .container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 980px) {
  /* line 18, ../scss/_layout.scss */
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 30, ../scss/_layout.scss */
header {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  /* line 30, ../scss/_layout.scss */
  header {
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  /* line 38, ../scss/_layout.scss */
  div.signature {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 43, ../scss/_layout.scss */
div.signature h1, div.signature h2 {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  /* line 43, ../scss/_layout.scss */
  div.signature h1, div.signature h2 {
    font-size: 27px;
    line-height: 37px;
  }
}
/* line 55, ../scss/_layout.scss */
div.signature h2 {
  font-weight: 400;
  font-style: italic;
}

/* line 61, ../scss/_layout.scss */
div.menu {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  /* line 61, ../scss/_layout.scss */
  div.menu {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  /* line 70, ../scss/_layout.scss */
  div.menu ul {
    float: right;
  }
}
/* line 75, ../scss/_layout.scss */
div.menu ul li {
  margin-left: 1.6rem;
  float: left;
}
/* line 80, ../scss/_layout.scss */
div.menu ul a {
  padding-bottom: 0.6rem;
}
/* line 83, ../scss/_layout.scss */
div.menu ul a:hover {
  border-bottom: 5px solid;
}
/* line 87, ../scss/_layout.scss */
div.menu ul a img.facebook {
  width: 16px;
}

/* line 94, ../scss/_layout.scss */
footer {
  margin-top: 5rem;
  padding: 80px 0 8rem;
  background-color: #f1efe3;
  font-size: 14px;
  line-height: 26px;
}
@media (min-width: 768px) {
  /* line 94, ../scss/_layout.scss */
  footer {
    margin-top: 6rem;
    padding-bottom: 8rem;
  }
}
@media (min-width: 980px) {
  /* line 94, ../scss/_layout.scss */
  footer {
    margin-top: 8rem;
    padding-bottom: 12rem;
  }
}
/* line 111, ../scss/_layout.scss */
footer:before {
  content: "";
  position: absolute;
  left: 50%;
  margin: -96px 0 0 -40px;
  width: 81px;
  height: 81px;
  background: url("../images/logo-footer.png") no-repeat center;
  background-size: 81px;
}
@media (min-width: 768px) {
  /* line 111, ../scss/_layout.scss */
  footer:before {
    margin: -104px 0 0 -60px;
    width: 121px;
    height: 121px;
    background-size: 121px;
  }
}
@media (min-width: 980px) {
  /* line 111, ../scss/_layout.scss */
  footer:before {
    margin: -112px 0 0 -80px;
    width: 161px;
    height: 161px;
    background-size: 161px;
  }
}
/* line 136, ../scss/_layout.scss */
footer ul.contact {
  text-align: center;
  margin: 1.5rem 0;
}
@media (min-width: 768px) {
  /* line 136, ../scss/_layout.scss */
  footer ul.contact {
    text-align: left;
    margin: 0;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 146, ../scss/_layout.scss */
footer ul.contact a {
  color: #745C57;
  border-bottom: 2px solid rgba(116, 92, 87, 0.1);
}
/* line 150, ../scss/_layout.scss */
footer ul.contact a:hover {
  border-bottom-color: rgba(116, 92, 87, 0.3);
}
@media (min-width: 768px) {
  /* line 156, ../scss/_layout.scss */
  footer div.appointment {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
/* line 161, ../scss/_layout.scss */
footer div.appointment a.button {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 161, ../scss/_layout.scss */
  footer div.appointment a.button {
    float: right;
  }
}

/* line 1, ../scss/_home.scss */
section.hero {
  background-image: url("../images/gradient.png"), url("../images/cercle.png"), url("../images/ciel.jpg");
  background-size: auto, 81px, cover;
  background-position: bottom, 50% -16px, 50% 63%;
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-blend-mode: multiply, multiply, normal;
  color: #F8F5EE;
}
@media (min-width: 768px) {
  /* line 1, ../scss/_home.scss */
  section.hero {
    background-size: auto, 121px, cover;
    background-position: bottom, 50% -24px, 50% 63%;
  }
}
@media (min-width: 980px) {
  /* line 1, ../scss/_home.scss */
  section.hero {
    background-size: auto, 161px, cover;
    background-position: bottom, 50% -32px, 50% 63%;
  }
}
/* line 19, ../scss/_home.scss */
section.hero:before {
  content: "";
  background-image: url("../images/cercle.png");
  background-size: 81px;
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  position: relative;
  top: -16px;
}
@media (min-width: 768px) {
  /* line 19, ../scss/_home.scss */
  section.hero:before {
    height: 24px;
    background-size: 121px;
    top: -24px;
  }
}
@media (min-width: 980px) {
  /* line 19, ../scss/_home.scss */
  section.hero:before {
    height: 32px;
    background-size: 161px;
    top: -32px;
  }
}
/* line 43, ../scss/_home.scss */
section.hero p {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-style: italic;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  /* line 43, ../scss/_home.scss */
  section.hero p {
    font-size: 46px;
    line-height: 62px;
    margin: 2.5rem 0;
  }
}
/* line 57, ../scss/_home.scss */
section.hero p br {
  display: none;
}
@media (min-width: 768px) {
  /* line 57, ../scss/_home.scss */
  section.hero p br {
    display: block;
  }
}
/* line 66, ../scss/_home.scss */
section.hero div.actions {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 40px 0;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
}
@media (min-width: 768px) {
  /* line 66, ../scss/_home.scss */
  section.hero div.actions {
    font-size: 18px;
    line-height: 29px;
  }
}
/* line 78, ../scss/_home.scss */
section.hero div.actions a {
  color: #F8F5EE;
}
/* line 81, ../scss/_home.scss */
section.hero div.actions a.button {
  margin-bottom: 1rem;
}
/* line 84, ../scss/_home.scss */
section.hero div.actions a.button:hover {
  background-color: #F8F5EE;
  border-color: #F8F5EE;
  color: #745C57;
}
/* line 91, ../scss/_home.scss */
section.hero div.actions a.tel {
  font-weight: 700;
}

/* line 98, ../scss/_home.scss */
img.logo {
  display: block;
  margin: 0 auto 30px;
  width: 57px;
}
@media (min-width: 768px) {
  /* line 98, ../scss/_home.scss */
  img.logo {
    margin: 0 auto 36px;
    width: 85px;
  }
}
@media (min-width: 980px) {
  /* line 98, ../scss/_home.scss */
  img.logo {
    margin: 0 auto 42px;
    width: 113px;
  }
}

/* line 114, ../scss/_home.scss */
section.about {
  margin: 2.5rem 0;
}
@media (min-width: 768px) {
  /* line 114, ../scss/_home.scss */
  section.about {
    margin: 4rem 0;
  }
}
/* line 121, ../scss/_home.scss */
section.about a {
  color: inherit;
  border-bottom: 2px solid rgba(116, 92, 87, 0.2);
}
/* line 125, ../scss/_home.scss */
section.about a:hover {
  border-bottom-color: #745C57;
}
/* line 130, ../scss/_home.scss */
section.about p {
  font-size: 19px;
  line-height: 30px;
}
/* line 134, ../scss/_home.scss */
section.about p + p {
  text-indent: 2rem;
}
@media (min-width: 768px) {
  /* line 130, ../scss/_home.scss */
  section.about p {
    font-size: 24px;
    line-height: 39px;
  }
}
