@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Quicksand:700);

a.button,
div.menu,
section.hero div.actions span,
section.hero div.warning p.note
{
  font-family: "Quicksand";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

@media (min-width: 768px) {
  a.button,
  div.menu,
  section.hero div.actions span {
    font-size: 14px;
  }
}

a {
  color: #6CD5CB;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  background: url("../images/dash.png") no-repeat bottom center;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 3.5rem;
  }
}

h4 {
  margin: 1rem 0 0;
}

h4 span {
  color: rgba(116, 92, 87, 0.4);
  font-weight: normal;
}

a.button {
  position: relative;
  display: inline-block;
  border: 2px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.6rem 1.1rem;
  text-align: center;
}

a.button[data-note]::after {
  position: absolute;
  left: -2px;
  border-radius: 0 0 3px 3px;
  bottom: -1.7rem;
  height: 1.8rem;
  border: 2px solid #F8F5EE;
  width: 100%;
  content: attr(data-note);
  background-color: #F8F5EE;
  color: #745C57;
  font-size: 11px;
}

section.hero div.actions a.button span {
  margin-bottom: 0;
}

section.hero div.actions a.button span.days {
  display: block;
  font-family: "Playfair Display";
  font-weight: 400;
  text-transform: none;
  font-style: italic;
  line-height: 24px;
}

a.button:hover {
  background-color: #6CD5CB;
  border-color: #6CD5CB;
  color: #F8F5EE;
}

body {
  background-color: #F8F5EE;
  margin: 2rem 0 0;
  padding: 0;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #745C57;
}

@media (min-width: 768px) {
  body {
    margin-top: 5rem;
  }
}

@media (min-width: 980px) {
  body {
    margin-top: 8rem;
  }
}

.container {
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 768px) {
  .container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 980px) {
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

header {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  div.signature {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

div.signature h1,
div.signature h2 {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {

  div.signature h1,
  div.signature h2 {
    font-size: 27px;
    line-height: 37px;
  }
}

div.signature h2 {
  font-weight: 400;
  font-style: italic;
}

div.menu {
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  div.menu {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  div.menu ul {
    float: right;
  }
}

div.menu ul li {
  margin-left: 1.6rem;
  float: left;
}

div.menu ul a {
  padding-bottom: 0.6rem;
}

div.menu ul a:hover {
  border-bottom: 5px solid;
}

div.menu ul a img.facebook {
  width: 16px;
}

footer {
  margin-top: 5rem;
  padding: 80px 0 8rem;
  background-color: #f1efe3;
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: 768px) {
  footer {
    margin-top: 6rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 980px) {
  footer {
    margin-top: 8rem;
    padding-bottom: 12rem;
  }
}

footer:before {
  content: "";
  position: absolute;
  left: 50%;
  margin: -96px 0 0 -40px;
  width: 81px;
  height: 81px;
  background: url("../images/logo-footer.png") no-repeat center;
  background-size: 81px;
}

@media (min-width: 768px) {
  footer:before {
    margin: -104px 0 0 -60px;
    width: 121px;
    height: 121px;
    background-size: 121px;
  }
}

@media (min-width: 980px) {
  footer:before {
    margin: -112px 0 0 -80px;
    width: 161px;
    height: 161px;
    background-size: 161px;
  }
}

footer div.appointment {
  text-align: center;
}

@media (min-width: 768px) {
  footer div.appointment {
    text-align: left;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

footer div.appointment a.button {
  display: block;
  margin: 1rem auto 1rem;
  float: none;
}

@media (min-width: 768px) {
  footer div.appointment a.button {
    margin-top: 0;
    float: left;
  }
}

footer div.addresses {
  text-align: center;
}

footer div.addresses p.warning {
  font-family: "Quicksand";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;

  color: #6CD5CB;
}

@media (min-width: 768px) {
  footer div.addresses {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: right;
  }
}

footer ul.contact {
  clear: both;
}

footer ul.contact a {
  color: #745C57;
  border-bottom: 2px solid rgba(116, 92, 87, 0.1);
}

footer ul.contact a:hover {
  border-bottom-color: rgba(116, 92, 87, 0.3);
}

footer ul.contact a.button {
  position: relative;
  top: -1px;
  border: 1px solid rgba(116, 92, 87, 0.16);
  margin-left: 0.5rem;
  padding: 0 0.4rem;
  font-size: 9px;
  line-height: 21px;
  color: rgba(116, 92, 87, 0.6);
}

footer ul.contact a.button:hover {
  border-color: #6CD5CB;
  color: #F8F5EE;
}

section.hero {
  background-color: #ab8886;
  background-image: url("../images/gradient.png"), url("../images/cercle.png"), url("../images/ciel.jpg");
  background-size: auto, 81px, cover;
  background-position: bottom, 50% -16px, 50% 63%;
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-blend-mode: multiply, multiply, normal;
  color: #F8F5EE;
}

@media (min-width: 768px) {
  section.hero {
    background-size: auto, 121px, cover;
    background-position: bottom, 50% -24px, 50% 63%;
  }
}

@media (min-width: 980px) {
  section.hero {
    background-size: auto, 161px, cover;
    background-position: bottom, 50% -32px, 50% 63%;
  }
}

section.hero:before {
  content: "";
  background-image: url("../images/cercle.png");
  background-size: 81px;
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  position: relative;
  top: -16px;
}

@media (min-width: 768px) {
  section.hero:before {
    height: 24px;
    background-size: 121px;
    top: -24px;
  }
}

@media (min-width: 980px) {
  section.hero:before {
    height: 32px;
    background-size: 161px;
    top: -32px;
  }
}

section.hero p {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-style: italic;
  margin: 1rem 0;
}

section.hero div.warning {
  background-color: rgba(0, 68, 62, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px 0;
}

section.hero div.warning p {
  float: none;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

section.hero div.warning p.note {
  font-style: normal;
  margin: 0;
  opacity: 0.5;
  line-height: 1;
}


@media (min-width: 768px) {
  section.hero p {
    font-size: 46px;
    line-height: 62px;
    margin: 2.5rem 0;
  }

  section.hero div.warning {
    padding: 35px 0;
  }

  section.hero div.warning p {
    font-size: 30px;
    line-height: 40px;
  }
}

section.hero p br {
  display: none;
}

@media (min-width: 768px) {
  section.hero p br {
    display: block;
  }
}

section.hero div.actions {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 40px 0;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: 768px) {
  section.hero div.actions {
    font-size: 18px;
    line-height: 29px;
  }
}

section.hero div.actions span {
  display: inline-block;
  margin-bottom: 0.75rem;
}

section.hero div.actions a {
  color: #F8F5EE;
}

section.hero div.actions a.button {
  margin: 0 0.2rem 2rem;
}

section.hero div.actions a.button:hover {
  background-color: #F8F5EE;
  border-color: #F8F5EE;
  color: #745C57;
}

section.hero div.actions a.tel {
  font-weight: 700;
}

img.logo {
  display: block;
  margin: 0 auto 30px;
  width: 57px;
}

@media (min-width: 768px) {
  img.logo {
    margin: 0 auto 36px;
    width: 85px;
  }
}

@media (min-width: 980px) {
  img.logo {
    margin: 0 auto 42px;
    width: 113px;
  }
}

section.about {
  margin: 2.5rem 0;
}

@media (min-width: 768px) {
  section.about {
    margin: 4rem 0;
  }
}

section.about a {
  color: inherit;
  border-bottom: 2px solid rgba(116, 92, 87, 0.2);
}

section.about a:hover {
  border-bottom-color: #745C57;
}

section.about div.photo {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  section.about div.photo {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: auto;
  }
}

section.about div.photo img {
  width: 100%;
  position: relative;
  top: -3px;
}

@media (min-width: 768px) {
  section.about div.photo img {
    width: 95%;
    top: 6px;
  }
}

@media (min-width: 768px) {
  section.about div.bio {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}

section.about p {
  font-size: 17px;
  line-height: 28px;
}

section.about p+p {
  text-indent: 2rem;
}

@media (min-width: 768px) {
  section.about p {
    font-size: 21px;
    line-height: 35px;
  }
}