section.hero {
  background-color: #ab8886;
  background-image: url("../images/gradient.png"), url("../images/cercle.png"), url("../images/ciel.jpg");
  background-size: auto, 81px, cover;
  background-position: bottom, 50% -16px, 50% 63%;
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-blend-mode: multiply, multiply, normal;
  color: $creme;
  
  @include tablet {
    background-size: auto, 121px, cover;
    background-position: bottom, 50% -24px, 50% 63%;
  }

  @include desktop {
    background-size: auto, 161px, cover;
    background-position: bottom, 50% -32px, 50% 63%;
  }
  
  &:before {
    content: "";
    background-image: url("../images/cercle.png");
    background-size: 81px;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    position: relative;
    top: -16px;
    
    @include tablet {
      height: 24px;
      background-size: 121px;
      top: -24px;
    }

    @include desktop {
      height: 32px;
      background-size: 161px;
      top: -32px;
    }
  }
  
  p {
    @include span(full);
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-style: italic;
    margin: 1rem 0;
    
    @include tablet {
      font-size: 46px;
      line-height: 62px;
      margin: 2.5rem 0;
    }
    
    br {
      display: none;
      
      @include tablet {
        display: block;
      }
    }
  }
  
  div.actions {
    @include span(full);
    margin: 40px 0;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    
    @include tablet {
      font-size: 18px;
      line-height: 29px;
    }
    
    span {
      display: inline-block;
      @extend %sans;
      margin-bottom: 0.75rem;
    }
    
    a {
      color: $creme;

      &.button {
        margin: 0 0.2rem 1rem;
        
        &:hover {
          background-color: $creme;
          border-color: $creme;
          color: $brown;
        }
      }
    
      &.tel {
        font-weight: 700;
      }
    }
  }
}

img.logo {
  display: block;
  margin: 0 auto 30px;
  width: 57px;
  
  @include tablet {
    margin: 0 auto 36px;
    width: 85px;
  }

  @include desktop {
    margin: 0 auto 42px;
    width: 113px;
  }
}

section.about {
  margin: 2.5rem 0;
  
  @include tablet {
    margin: 4rem 0;
  }
  
  a {
    color: inherit;
    border-bottom: 2px solid rgba($brown, 0.2);
    
    &:hover {
      border-bottom-color: $brown;
    }
  }
  
  div.photo {
    @include border-radius(100px);
    width: 160px;
    height: 160px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1.5rem;
    
    @include tablet {
      @include span(4);
      @include border-radius(0);
      height: auto;
    }
    
    img {
      width: 100%;
      position: relative;
      top: -3px;

      @include tablet {
        width: 95%;
        top: 6px;
      }
    }
  }
  
  div.bio {
    @include tablet {
      @include span(8 last);
    }
  }
  
  p {
    font-size: 17px;
    line-height: 28px;
    
    & + p {
      text-indent: 2rem;
    }
    
    @include tablet {
      font-size: 21px;
      line-height: 35px;
    }
  }
}
