@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 980px) {
    @content;
  }
}

%sans {
  font-family: "Quicksand";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  
  @include tablet {
    font-size: 14px;
  }
}
