@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Quicksand:700);

@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "susy";

$creme: #F8F5EE;
$brown: #745C57;
$turquoise: #6CD5CB;

@import "mixins";
@import "global";
@import "layout";
@import "home";